$border-radius: 20px;

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
  margin-bottom: 80px;

  p {
    color: var(--color-3);
  }

  h2 {
    color: var(--color-1);
  }
}

@mixin container {
  display: flex;
  width: 100%;

  p {
    text-align: justify;
    white-space: pre-line;
  }

  &.rowReverse {
    flex-direction: row-reverse;
  }
}

.container {
  @include container;
  gap: 40px;
}

.tldrContainer {
  @include container;
  flex-direction: column;
  gap: 0;
}

.galleryContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;

  .imageContainer {
    position: relative;
    width: unset;
    height: 400px;
  }
}

.imageContainer {
  position: relative;
  width: 40%;
  min-width: 40%;
  height: 250px;
  border-radius: $border-radius;
  overflow: hidden;
  transition: all ease 0.3s;
  box-shadow: 0 0 1px var(--color-1);

  &:hover {
    transform: scale(1.05);
  }
}

.video {
  border-radius: $border-radius;
  overflow: hidden;
}

.title {
  text-align: center;
  z-index: 5;

  > span:nth-child(2) {
    font-size: 0.9rem;
    color: var(--color-1);
  }
  > span:nth-child(2):after {
    content: "";
    position: relative;
    width: 20px;
    height: 1.5px;
    top: -5px;
    margin: 8px;
    background-color: var(--color-3);
    display: inline-grid;
  }
  > span:nth-child(3) {
    font-size: 0.9rem;
    color: var(--color-1);
  }
}
