$border-radius: 20px;

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
  margin-top: 80px;

  p {
    color: var(--color-3);
  }

  h2 {
    color: var(--color-1);
    margin-bottom: 20px;
  }
}

.container {
  display: flex;
  width: 100%;
  gap: 40px;

  p {
    text-align: justify;
    white-space: pre-line;
  }

  > .tldrTextContainer {
    flex-grow: 1;
  }

  &.rowReverse {
    flex-direction: row-reverse;
  }
}

.imageContainer {
  position: relative;
  width: 40%;
  min-width: 40%;
  height: 250px;
  border-radius: $border-radius;
  overflow: hidden;
}

.video {
  border-radius: $border-radius;
  overflow: hidden;
}
