.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
  margin-bottom: 80px;
}

@mixin container {
  display: flex;
  width: 100%;

  p {
    text-align: justify;
    white-space: pre-line;
  }

  &.rowReverse {
    flex-direction: row-reverse;
  }
}

.container {
  @include container;
  background-color: var(--background-color-blur);
  border-radius: var(--text-border-radius)/2;
  gap: 40px;
}

.tldrContainer {
  @include container;
  flex-direction: column;

  h2 {
    color: var(--color-1);
  }
}

.galleryContainer {
  margin: 0 30px 0 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  > .imageContainer {
    width: unset;
    background-color: var(--background-color-darker-blur);
  }
}

.imageContainer {
  position: relative;
  width: 40%;
  min-width: 40%;
  height: 250px;
  border-radius: var(--text-border-radius);
  overflow: hidden;
  transition: all ease 0.5s;

  span {
    transition: all ease 0.5s;
  }

  &:hover {
    transform: scale(1.05);

    span {
      transform: scale(1.05);
    }
  }
}

.video {
  border-radius: var(--text-border-radius);
  overflow: hidden;

  > iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}

.title {
  text-align: center;
  z-index: 5;

  > span:nth-child(2) {
    font-size: 0.9rem;
    color: var(--color-1);
  }
  > span:nth-child(2):after {
    content: "";
    position: relative;
    width: 20px;
    height: 1.5px;
    top: -5px;
    margin: 8px;
    background-color: var(--color-3);
    display: inline-grid;
  }
  > span:nth-child(3) {
    font-size: 0.9rem;
    color: var(--color-1);
  }
}
