$border-radius: 20px;

.sectionContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: center;
  margin-bottom: 80px;

  p {
    color: var(--color-3);
  }

  h2 {
    color: var(--color-1);
  }
}

@mixin container {
  display: flex;
  width: 100%;

  p {
    text-align: justify;
    white-space: pre-line;
  }

  &.rowReverse {
    flex-direction: row-reverse;
  }
}

.container {
  @include container;
  gap: 40px;
}

.tldrContainer {
  @include container;
  flex-direction: column;
  gap: 0;
}

.galleryContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 10px;

  .imageContainer {
    position: relative;
    width: unset;
    height: 400px;
  }
}

.imageContainer {
  position: relative;
  width: 40%;
  min-width: 40%;
  height: 250px;
  border-radius: $border-radius;
  overflow: hidden;
}

.video {
  border-radius: $border-radius;
  overflow: hidden;
}
