.experienceTab {
  background-color: var(--background-color-blur);
  border-left: solid 1px var(--color-1);
  padding-left: 10px;
  width: 850px;
}

.color1 {
  color: var(--color-1);
}
.color2 {
  color: var(--color-2);
}
.color3 {
  color: var(--color-3);
}

#experienceTabTextArea {
  counter-reset: line 0;

  p {
    counter-increment: line;
  }
}

.experienceTabLine {
  display: flex;
  width: 800px;

  &:before {
    content: counter(line) '     ';
    color: var(--color-3);
    font-size: 0.75rem;
    position: relative;
    top: 3px;
  }

  &:nth-child(n+11)::before {
    content: counter(line) '    ';
  }

  > p {
    width: 100%;

    &.justified {
      //text-align-last: justify;
    }
  }
}
