.container {
  display: grid;
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease 0.5s;

  * {
    transition: all ease 0.5s;
  }

  &:hover {
    transform: scale(1.05);

    img {
      filter: blur(8px) brightness(0.4);
      transform: scale(1.3);
    }

    .textContainer {
      p:nth-child(1) {
        color: var(--color-1);
      }
      p:nth-child(2) {
        color: var(--color-2);
      }
    }
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin: 8px;

  p {
    margin: 0;
    z-index: 9;
    color: transparent;
    align-self: center;
  }
}
