@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #023047;
  --background-color-blur: rgba(2, 48, 71, 0.80);
  --background-color-darker-blur: rgba(2, 40, 59, 0.80);
  --background-color-lighter: #035177;
  --color-1: #FFB703;
  --color-1-lighter: #FFD15C;
  --color-2: #219EBC;
  --color-2-transparent: rgba(33, 158, 188, 0.25);
  --color-3: #8ECAE6;
  --color-4: #000000;

  /* Text */
  --font-mono: 'Fira Code', monospace;
  --font-size: 16px;

  --text-border-radius: 20px;

  /* Watcher */
  --watcher-width: 35px;
  --animation-duration: 2s;

  /* Squares */
  --square-border-radius: 5px;

  /* Navbar */
  --navbar-height: 64px;
}

/* Add default background color */
html,
body,
body > div {
  background-color: var(--background-color);
}

html,
body,
pre,
div {
  //font-family: var(--font-mono);
}

/* Remove default margins */
div,
body,
h1,
h2,
h3,
h4,
pre,
p,
figure,
blockquote,
dl,
dd,
a,
section {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

p {
  color: var(--color-3);
  font-size: 1rem;
}
h2 {
  font-size: 1.5rem;
  color: var(--color-2);
  margin: 2rem 0 2rem 0;
}
h1 {
  font-size: 2.25rem;
  color: var(--color-2);
  margin: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

button {
  background: var(--background-color);
  border: solid 2px;
  font: inherit;
  line-height: 1;
  padding: 0.75rem;
  margin-bottom: 0.3rem;
  border-color: var(--color-2);
  color: var(--color-2);
  transition: all linear 0.2s;
  border-radius: var(--square-border-radius);
}
button:hover {
  transform: translateX(7%);
  box-shadow: inset 0 0 0 1.5rem var(--background-color);
  cursor: pointer;
  border-color: var(--color-1) !important;
  color: var(--color-1) !important;
}
button.activated {
  color: var(--color-1);
}

img {
  transition: all 0.3s ease;
}

.context-container {
  display: flex;
  justify-content: center;
  z-index: 3;
  background-color: transparent;
}

.context {
  display: flex;
  flex-direction: column;
  padding-top: var(--navbar-height);
  max-width: min(1000px, 70vw);
  min-width: 800px;
}

.numbered-heading {
  z-index: 10;

  & > span {
    margin-right: 10px;
    color: var(--color-1);
    font-size: 1.4rem;
  }
}

$initDelay: 1.5;
$secondDelay: 2;

#loading-container {
  overflow: visible;
  animation:
          fadeIn calc($initDelay)+s ease-in-out forwards,
          fadeOut 0.5s ease-in calc($initDelay + $secondDelay + 2)+s forwards;

  > circle {
    filter: drop-shadow(0px 0px 4px rgba(255, 183, 3, 0.3));
  }
}

#small-container {
  @for $i from 1 through 6 {
    > g:nth-child(#{$i}) {
      translate: 50% 50%;
      rotate: calc($i * 60)+deg;

      > circle {
        animation:
                moveOut 0.7s ease-in-out calc($initDelay + $i*0.1)+s forwards,
                rotate 2s linear infinite calc($initDelay + 1.2)+s,
                bigger 1.5s ease-in calc($initDelay + $secondDelay - 0.5)+s forwards,
                moveIn 0.4s ease-in-out calc($initDelay + $secondDelay + 1 + $i*0.1)+s forwards;
        filter: drop-shadow(0px 0px 3px rgba(255, 183, 3, 0.3));
      }
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0;
  }
}

@keyframes moveOut {
  0% { transform: translateX(0) }
  50% { transform: translateX(55%) }
  70% { transform: translateX(46%) }
  90% { transform: translateX(52%) }
  100% { transform: translateX(50%) }
}

@keyframes bigger {
  0% { transform: translateX(50%) }
  100% { transform: translateX(80%) }
}

@keyframes moveIn {
  0% { transform: translateX(80%) }
  30% { transform: translateX(95%) }
  100% { transform: translateX(0) }
}

@keyframes rotate {
  0% { rotate: 0 }
  100% { rotate: 360deg }
}

