.firstSection {
  display: grid;
  margin: unset;

  > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  .arrowAnimationContainer {
    justify-self: center;
    align-self: end;
    margin-bottom: 10vw;
  }

  .introTextContainer {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbar-height));
    justify-content: center;

    p {
      height: 100px;
      white-space: pre-line;
      margin-bottom: 15px;
      font-size: 2rem;
    }
  }
}

.secondSection {
  display: grid;
  grid-template-columns: repeat(2, auto);

  .bioTextContainer {
    height: fit-content;
    padding-right: 50px;
    background-color: var(--background-color-blur);
    text-align: justify;

    p {
      margin-bottom: 20px;
    }
  }

  .imageContainer {
    position: relative;
    width: 300px;
    height: 450px;
    border-radius: var(--square-border-radius);

    > img {
      border-radius: var(--square-border-radius);
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      border-radius: var(--square-border-radius);
      border: solid 2px var(--color-1);
      z-index: -1;
    }
  }
}

.thirdSection {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 50px;
}
