.link {
  p, span {
      position: relative;
      color: var(--color-2);

    &:hover {
      cursor: pointer;
      color: var(--color-1);
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: var(--color-1);
      bottom: 0;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &[data-orientation="vertical"] {
      writing-mode: vertical-rl;
      text-orientation: mixed;

      &::before {
        top: 0;
        width: 2px;
        height: 100%;
        transform-origin: bottom;
        transform: scaleY(0);
      }

      &:hover::before {
        transform-origin: top;
        transform: scaleY(1);
      }
    }
  }

  > svg {
    color: var(--color-2);
    transition: all ease-in-out 0.2s;

    &:hover{
      color: var(--color-1);
      cursor: pointer;
      transform: scale(115%);
      border-radius: 1px;
    }
  }
}
