$svgSize: 2.2rem;

.link {
  p {
    color: var(--color-2);
    font-size: $svgSize/2;
    writing-mode: vertical-rl;
    text-orientation: mixed;

    &::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      border-radius: 2px;
      background-color: var(--color-1);
      top: 0;
      left: 0;
      transform-origin: bottom;
      transform: scaleY(0);
      transition: transform .3s ease-in-out;
    }

    &:hover::before {
      transform-origin: top;
      transform: scaleY(1);
    }

    &:hover {
      color: var(--color-1);
    }
  }

  &:hover {
    cursor: pointer;
    color: var(--color-1);
  }

  > svg {
    width: $svgSize;
    height: $svgSize;
    color: var(--color-2);
    transition: all ease-in-out 0.2s;
  }

  & > svg:hover{
    color: var(--color-1);
    cursor: pointer;
    transform: scale(115%);
    border-radius: 1px;
  }
}
