$hoverDistance: 4px;
$linkAnimationDelay: 0.5;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  gap: 25px;
  padding: 15px;
  border-bottom: 2px solid var(--color-1);
  background-color: var(--background-color);

  animation: init ease-in-out 1s forwards;
}

.navLeft {
  justify-content: right;
  > a:nth-child(1) {
    animation-delay: calc($linkAnimationDelay)+s;
  }
  > a:nth-child(2) {
    animation-delay: calc($linkAnimationDelay + 0.2)+s;
  }
}

.navRight {
  justify-content: left;
  > a:nth-child(1) {
    animation-delay: calc($linkAnimationDelay + 0.4)+s;
  }
  > a:nth-child(2) {
    animation-delay: calc($linkAnimationDelay + 0.6)+s;
  }
}

.navPos {
  display: flex;
  width: 40%;
  gap: 30px;
  align-items: center;

  > a {
    transform: translateY(-100px);
    animation: init ease-in-out 1s forwards;
  }
}

@keyframes init {
  0% { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}
