.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 1000px;
  justify-content: center;
  height: 80vh;

  p {
    font-size: 1.3rem;
    width: 600px;
    color: var(--color-3);
  }
}

.iconsContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0 50px 0;

  svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}
