.introTextContainer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin: 320px 0 400px 0;

  p {
    height: 100px;
    white-space: pre-line;
    margin-bottom: 15px;
    color: var(--color-3);
    font-size: 2rem;
  }
}

.secondSection {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, auto);

  .bioTextContainer {
    text-align: justify;

    p {
      color: var(--color-3);
      margin-bottom: 20px;
    }
  }

  .imageContainer {
    width: 300px;
    height: 450px;
    position: relative;
    border-radius: var(--border-radius);

    > span {
      border-radius: var(--border-radius);
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      border-radius: var(--border-radius);
      border: solid 2px var(--color-1);
      z-index: -1;
    }
  }
}

.thirdSection {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 50px;
}
