.introTextContainer {
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 1000px;
  justify-content: center;

  p {
    height: 100px;
    white-space: pre-line;
    margin-bottom: 15px;
    font-size: 2rem;
  }
}

.secondSection {
  display: grid;
  grid-template-columns: repeat(2, auto);

  .bioTextContainer {
    height: fit-content;
    padding-right: 50px;
    background-color: var(--background-color-blur);
    text-align: justify;

    p {
      margin-bottom: 20px;
    }
  }

  .imageContainer {
    width: 300px;
    height: 450px;
    position: relative;
    border-radius: var(--square-border-radius);

    > span {
      border-radius: var(--square-border-radius);
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      top: 20px;
      left: 20px;
      border-radius: var(--square-border-radius);
      border: solid 2px var(--color-1);
      z-index: -1;
    }
  }
}

.thirdSection {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-top: 50px;
}
