$width: 50px;
$totalSlowBlocks: 20;
$totalFastBlocks: 20;

.container {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 2;

  .block {
    position: absolute;
    background-color: unset;
    border: solid var(--color-2-transparent);
    border-radius: 5px;
    bottom: -200px;
  }

  // Slow blocks
  @for $i from 1 through $totalSlowBlocks {
    .block:nth-child(#{$i}) {
      left: percentage((random(100/$totalSlowBlocks) + ($i - 1) * (100/$totalSlowBlocks))/100);
      animation:
              translate calc(random(50) + 7)+s infinite random(15)+s linear,
              rotate calc(random(65) + 10)+s infinite linear;
    }
  }
  // Fast blocks
  @for $i from 1 through $totalFastBlocks {
    .block:nth-child(#{$i + $totalSlowBlocks}) {
      left: percentage((random(100/$totalFastBlocks) + ($i - 1) * (100/$totalFastBlocks))/100);
      animation:
              translate calc(random(30) + 7)+s infinite random(30)+s linear,
              rotate calc(random(65) + 10)+s infinite linear;
    }
  }
}

@keyframes translate {
  0% { bottom: -30%; }
  100% { bottom: 130%; }
}

@keyframes rotate {
  0% { transform: rotate(0) }
  100% { transform: rotate(900deg) }
}
