$hoverDistance: 4px;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  gap: 25px;
  padding: 10px;
  border-bottom: 1px solid var(--color-1);
  background-color: var(--background-color);

  a {
    color: var(--color-2);
    transition: all ease 0.3s;

    &:hover {
      color: var(--color-1);
    }
  }
}

.nav > .navPos > a:nth-child(1):hover {
}

.navPos {
  display: flex;
  width: 40%;
  gap: 30px;

  &:nth-child(1) {
    justify-content: right;

    > a:nth-child(1):hover {
      transform: translateX(-$hoverDistance);
    }
    > a:nth-child(2):hover {
      transform: translateY($hoverDistance);
    }
  }
  &:nth-child(3) {
    justify-content: left;

    > a:nth-child(1):hover {
      transform: translateY(-$hoverDistance);
    }
    > a:nth-child(2):hover {
      transform: translateX($hoverDistance);
    }
  }
}
