$hoverDistance: 4px;

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  gap: 25px;
  padding: 10px;
  border-bottom: 2px solid var(--color-1);
  background-color: var(--background-color);

  a {
    color: var(--color-2);
    transition: all ease 0.2s;

    &:hover {
      color: var(--color-1);
      animation: pulse 0.3s linear ;
      transform: scale(110%);
    }
  }
}

.navPos {
  display: flex;
  width: 40%;
  gap: 30px;

  &:nth-child(1) {
    justify-content: right;
  }
  &:nth-child(3) {
    justify-content: left;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-2-transparent);
    background-color: var(--color-2-transparent);
  }
  100% {
    box-shadow: 0 0 0 10px transparent;
    background-color: unset;
  }
}
