$barCircleSize: 6px;
$barHeight: 60px;
$linkAnimationDelay: 1.1;

.verticalBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 35px;
  gap: 42px;
  background-color: unset;
  z-index: 10;

  &:nth-child(3) {
    left: 20px;
    transform: translateX(-100px);
    animation: initSocials ease-in-out 1s forwards calc($linkAnimationDelay + 0.2)+s;
  }
  &:nth-child(4) {
    right: 20px;
    transform: translateX(100px);
    animation: initEmail ease-in-out 1s forwards calc($linkAnimationDelay + 0.4)+s;
  }
}

@mixin circle {
  content: '';
  width: $barCircleSize;
  height: $barCircleSize;
  position: absolute;
  border-radius: 50%;
  display: block;
  left: 0.5px;
  background-color: var(--color-1);
}

.bar {
  content: "";
  width: 1px;
  height: $barHeight;
  margin: 0 auto;
  background-color: var(--color-1);
  position: relative;

  &:nth-child(1):before {
    @include circle;
    transform: translate(-50%, -100%);
  }
  &:nth-child(3):after,
  &:nth-child(5):after{
    @include circle;
    transform: translate(-50%, 100%);
    bottom: 0;
  }
}

@keyframes initSocials {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(0); }
}

@keyframes initEmail {
  0% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}
