$barCircleSize: 6px;
$barHeight: 60px;

.verticalBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 35px;
  gap: 42px;
  background-color: unset;
  z-index: 10;

  &:nth-child(3) {
    left: 20px;
  }
  &:nth-child(4) {
    right: 20px;
  }
}

@mixin circle {
  content: '';
  width: $barCircleSize;
  height: $barCircleSize;
  position: absolute;
  border-radius: 50%;
  display: block;
  left: 0.5px;
  background-color: var(--color-1);
}

.bar {
  content: "";
  width: 1px;
  height: $barHeight;
  margin: 0 auto;
  background-color: var(--color-1);
  position: relative;

  &:nth-child(1):before {
    @include circle;
    transform: translate(-50%, -100%);
  }
  &:nth-child(3):after,
  &:nth-child(5):after{
    @include circle;
    transform: translate(-50%, 100%);
    bottom: 0;
  }
}
