$arrowsInitDelay: 8;

.container {
  position: absolute;
  width: 50px;
  height: 50px;

  path {
    opacity: 0;
    animation: 2s appear ease-in-out infinite;
  }

  @for $i from 1 through 3 {
    path:nth-child(#{$i}) {
      animation-delay: calc($arrowsInitDelay + $i * 0.15)+s;
    }
  }
}

@keyframes lineAppear {
  0% { height: 0 }
  100% { height: 100% }
}

@keyframes appear {
  0% { opacity: 0 }
  25% { opacity: 1 }
  75% { opacity: 1 }
  100% { opacity: 0 }
}
