$margins: 1rem/2;

.container {
  display: flex;
  width: 800px;
  place-items: center;
  text-align: center;

  * {
    transition: all ease 0.5s;
  }

  h2 {
    margin: 20px;
    flex-grow: 1;
    width: 20%;
    font-size: 1.4rem;

    > span:nth-child(2) {
      font-size: 0.9rem;
      color: var(--color-1);
    }
    > span:nth-child(2):after {
      content: "";
      position: relative;
      width: 20px;
      height: 1.5px;
      top: -5px;
      margin: 8px;
      background-color: var(--color-3);
      display: inline-grid;
    }
    > span:nth-child(3) {
      font-size: 0.9rem;
      color: var(--color-1);
    }
  }
  &.rowReverse h2.rotate {
    transform: rotate(90deg);
  }
  h2.rotate {
    transform: rotate(-90deg);
  }

  &.rowReverse {
    flex-direction: row-reverse;
  }
}

.card {
  --scale: 1;
  --translateX: 0;
  --translateY: 0;
  --z-index: 0;
  margin-bottom: $margins;
  margin-top: $margins;
  position: relative;
  display: grid;
  width: 450px;
  height: 250px;
  transform: scale(var(--scale)) translateX(var(--translateX)) translateY(var(--translateY));
  z-index: var(--z-index);
  border-radius: 20px;
  overflow: hidden;

  * {
    grid-row: 1;
    grid-column: 1;
  }

  &.up {
    --translateY: -20%;
  }
  &.down {
    --translateY: 20%;
  }
  &.select {
    --scale: 1.4;
    --z-index: 3;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  &.select span {
    filter: blur(8px) brightness(0.4);
  }
  &.select > div > p:nth-child(1) {
    color: var(--color-1);
  }
  &.select > div > p:nth-child(2) {
    color: var(--color-2);
  }
}

.centerText {
  p {
    margin: 0;
    z-index: 4;
    color: transparent;
    align-self: center;
    font-size: 14px;
  }
}
