$margins: 1rem/2;

.container {
  display: flex;
  width: 800px;
  place-items: center;
  text-align: center;
  * {
    transition: all ease 0.5s;
  }

  h2 {
    margin: 20px;
    flex-grow: 1;
    width: 20%;
    font-size: 1.4rem;
    z-index: 5;

    > span:nth-child(2) {
      font-size: 0.9rem;
      color: var(--color-1);
    }
    > span:nth-child(2):after {
      content: "";
      position: relative;
      width: 20px;
      height: 1.5px;
      top: -5px;
      margin: 8px;
      background-color: var(--color-3);
      display: inline-grid;
    }
    > span:nth-child(3) {
      font-size: 0.9rem;
      color: var(--color-1);
    }
  }
  &.rowReverse h2.rotate {
    transform: rotate(90deg);
  }
  h2.rotate {
    transform: rotate(-90deg);
  }

  &.rowReverse {
    flex-direction: row-reverse;
  }

  > div {
    background-color: transparent;

    &[data-animation="up-animation"] {
      transform: translateY(-20%);
    }
    &[data-animation="down-animation"] {
      transform: translateY(20%);
    }
    &[data-animation="select-animation"] {
      transform: scale(1.4);
    }
  }
}
