$margins: 1rem/2;
$textSize: 40%;

.container {
  display: grid;
  grid-auto-columns: $textSize 1fr;
  grid-template-areas:
          'text image';
  gap: 20px;
  place-items: center;
  text-align: center;

  * {
    transition: all ease 0.5s;
  }

  h2 {
    grid-area: text;
    border-radius: var(--text-border-radius);
    background-color: var(--background-color-blur);

    > span:nth-child(2),
      span:nth-child(3) {
      font-size: 0.9rem;
      color: var(--color-1);
    }
    > span:nth-child(2):after {
      content: "";
      position: relative;
      width: 20px;
      height: 1.5px;
      top: -5px;
      margin: 8px;
      background-color: var(--color-3);
      display: inline-grid;
    }

    &.rotate {
      transform: rotate(-90deg);
    }
  }
  &.rowReverse h2.rotate {
    transform: rotate(90deg);
  }

  &.rowReverse {
    grid-auto-columns: 1fr $textSize;
    grid-template-areas:
          'image text';
  }

  > div {
    background-color: var(--background-color);
    grid-area: image;
    width: 100%;

    &[data-animation="up-animation"] {
      transform: translateY(-15%);
    }
    &[data-animation="down-animation"] {
      transform: translateY(15%);
    }
    &[data-animation="select-animation"] {
      transform: scale(1.25);
    }
  }
}
