.container {
  display: grid;
  text-align: center;
  margin-bottom: 80px;
  gap: 60px;
}

.imagesContainer {
  display: flex;
  gap: 20px;

  > div {
    transition: all ease 0.5s;
    background-color: transparent;

    &:hover {
      transform: scale(1.07);
    }
  }
}
