:root {
  --background-color: #023047;
  --color-1: #FFB703;
  --color-2: #219EBC;
  --color-3: #8ECAE6;
  --color-4: #000000;

  --font-mono: 'Fira Code', monospace;
  --font-size: 18px;

  /* Watcher */
  --watcher-width: 25px;
  --animation-duration: 2s;
}

html,
body,
div {
  font-family: var(--font-mono);
  background-color: var(--background-color);
}

pre {
  font-family: var(--font-mono);
}

/* Remove default margin */
div,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
a {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: var(--color-1);
  font-size: 1rem;
}
h2 {
  font-size: 1.5rem;
  color: var(--color-2);
}

section {
  display: flex;
  flex-direction: column;
}

/* Pages */

pre {
  counter-reset: line 0;
}
pre p {
  counter-increment: line;
}
pre p::before {
  color: var(--color-3);
  font-size: 0.75rem;
  position: relative;
  bottom: 2.5px;
}
pre p:nth-child(-n+9)::before {
  content: counter(line) '     ';
}
pre p:nth-child(n+10)::before {
  content: counter(line) '    ';
}
p {
  color: var(--color-1);
}
