:root {
  --background-color: #023047;
  --background-color-lighter: #035177;
  --color-1: #FFB703;
  --color-1-lighter: #FFD15C;
  --color-2: #219EBC;
  --color-2-transparent: rgba(33, 158, 188, 0.49);
  --color-3: #8ECAE6;
  --color-4: #000000;

  --font-mono: 'Fira Code', monospace;
  --font-size: 18px;

  /* Watcher */
  --watcher-width: 25px;
  --animation-duration: 2s;
}

/* Add default background color */
html,
body,
body > div {
  background-color: var(--background-color);
}

html,
body,
pre,
div {
  font-family: var(--font-mono);
}

/* Remove default margin */
div,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
a,
pre {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size);
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  color: var(--color-1);
  font-size: 1rem;
}
h2 {
  font-size: 1.5rem;
  color: var(--color-2);
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 2.25rem;
  color: var(--color-2);
  margin: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  z-index: 5;
}

button {
  background: none;
  border: solid 2px;
  font: inherit;
  line-height: 1;
  padding: 0.75rem;
  margin-bottom: 0.2rem;
  border-color: var(--color-2);
  color: var(--color-2);
  transition: all linear 0.2s;
}
button:hover {
  transform: translateX(7%);
  box-shadow: inset 0 0 0 1.5rem var(--background-color-lighter);
  cursor: pointer;
  border-color: var(--color-3);
}
button.activated {
  border-color: var(--color-1);
  color: var(--color-1);
}

img {
  transition: all 0.3s ease;
}
