.context {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px 0 100px;
  padding-top: 46px;
}

.tech-title-container {
  display: flex;
  flex-direction: row;
}
.tech-title-container > p:nth-child(1),
.tech-title-container > p:nth-child(3) {
  color: var(--color-1);
}
.tech-title-container > p:nth-child(2) {
  color: var(--color-2);
}

.numbered-heading > span {
  margin-right: 10px;
  color: var(--color-1);
  font-family: var(--font-mono);
  font-size: 1.4rem;
}
.numbered-heading::after {
  /*content: "";*/
  /*display: block;*/
  /*position: relative;*/
  /*top: -2px;*/
  /*left: 12px;*/
  /*width: 200px;*/
  /*height: 0.5px;*/
  /*margin-left: 20px;*/
  /*background-color: var(--color-1);*/
}
