.tech-title-container {
  display: flex;
  flex-direction: row;
}
.tech-title-container > p:nth-child(1),
.tech-title-container > p:nth-child(3) {
  color: var(--color-1);
}
.tech-title-container > p:nth-child(2) {
  color: var(--color-2);
}

