.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;

  > p {
    color: var(--color-3);
  }
}

.techStackContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  border-top: solid var(--color-2) 1px;
  border-bottom: solid var(--color-2) 1px;
  background-color: var(--background-color-blur);
  z-index: 10;

  a {
    position: relative;
    min-width: 100px;
    transition: all 0.3s;

    span:before {
      content: unset;
    }

    &:hover {
      transform: scale(1.15);

      img {
        filter: unset;
      }
    }
  }

  img {
    filter: grayscale(100%);
  }
}
